<!DOCTYPE html>
<html>
<head>

</head>

<body>

<h1>Bienvenue à toi !</h1>
<p>Sur ce site, tu peux t'inscrire pour recevoir une super newsletter ! Il te suffit de cliquer sur le lien ci-dessous pour accéder au lien de paiement !</p>
<a href="/charges/new">Je paye 5 dollars et je m'abonne à la super newsletter !</a>
</body>

</html>
